*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar Styling */
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    color:#f5046c;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}
.navbar .nav-item  .nav-link:hover{
    font-weight: 500;
    color:#f5046c;
}
/* Hero SEction */
#hero{
    width:100%;
}

#hero img{
    width:100%;
    height: 500px;
}
/* marquee Styling*/
marquee{
    color:#f7f7f7;
    background: #151932;
    margin-top: 10px;
    padding: 9px;
}
marquee h1{
    font-size: 20px;
    letter-spacing: 0.6em;
    font-weight: 600;
    text-transform: uppercase;
}

/* about section styling  */
#about{
    margin-top: 20px;
}
#about h4{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.about-container{
    margin-top: 30px;
    padding: 40px;
}
.about-container p{
    font-size: 18px;
    line-height: 3em;
    font-weight: 400;
    text-align: justify;
}
/* course section styling */
#course{
    margin-top: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
}
.course-group{
    box-shadow: 8px 8px 16px #aaa;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
}
.course-group img{
    scale:0.4;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-group a{
    text-decoration: none;
    color:#ffff;
    background: #151932;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 0.12em;
    transition: .3s ease-in-out;
}
.course-group a:hover{
    background: #f5046c;
    color:#ffff;
    font-weight: 500;
}
.course-group p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2em;
}
/* contact section styling  */
#contact{
    margin-top: 20px;
    padding: 20px;
}
.contact-title{
    letter-spacing: 0.2em;
    font-size: 30px;
    font-weight: 700;
}
.contact-container{
    display:flex;
    align-items: center;
    gap:20px;
    margin-top: 10px;
    padding: 20px;
}
.left-contact{
    width: 45%;
    height:660px;
    box-shadow: 8px 8px 16px #aaa;
    padding: 20px;
    border-radius: 20px;
}
.left-contact i{
    margin-right: 10px;
    color: #151932;
}
.left-contact i:hover{
    color:#f5046c;
}

.left-contact h4{
    font-size: 20px;
    font-weight: 500;
    color:#333;
}
.left-contact p{
    color:#333;
}
.left-contact a{
    text-decoration: none;
    color:#333;
    transition: .3s ease-in-out;
}
.left-contact a:hover{
    color:#333;
    font-size: 22px;
}
.right-contact{
    width:50%;
    padding: 20px;
    box-shadow: 8px 10px 16px #aaa;
    border-radius: 20px;
}
.right-contact form{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.right-contact form label{
    font-size: 20px;
    font-weight: 400;
}
.right-contact form label::after{
    content: '*';
    color:#f5046c;
    margin-left: 5px;
}
.right-contact form input,
.right-contact form textarea{
    padding: 10px;
}
.right-contact form .btn{
    color:#fff;
    background: #f5046c;
    padding:20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 0.12em;
    transition: .3s ease-in-out;
}
.right-contact form .btn:hover
{
    background: #151932;
}
/* footer Styling */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    padding:20px;
    position: relative;
    background: #151932;
    color:#f7f7f7;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.column-footer{
    margin-top: 10px;
}
.column-footer h4{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.column-footer .logo-footer{
    position: absolute;
    left:20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 0.2em;
    text-transform: uppercase;
}
.column-footer li{
    list-style: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color:#b9b3b3;
    letter-spacing: 0.2em;
    transition: .3s ease-in-out;
}
.column-footer li:hover,
.column-dev p:hover{
    color: #f9f9f9;
}
.column-footer li a{
    color:#b9b3b3;
    text-decoration: none;
}
.column-footer li a:hover{
    color:#f9f9f9;
    
}

.column-footer i{
    transition: .3s ease-in-out;
    cursor: pointer;
}
.column-footer i:hover{
    color:#f7f7f7;
}
.column-dev{
    padding-top: 10px;
    letter-spacing: 0.2em;
}
.column-dev p{
    margin-top: 20px;
    transition: .3s ease-in-out;
}
@media screen and (max-width:768px) {
    .footer{
        width:100%;
        display:flex;
        align-items: center;
        flex-direction: column;

    }
    .course-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .left-contact,
    .right-contact{
        width:90%;
    }   
}